<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
    <title>请假管理</title>
    <meta charset="utf-8" />
</head>
<body>
	<h1 layout:fragment="header">请假管理</h1>
	<div layout:fragment="breadcrumb">
		<a href="/">首页</a>
		>
		请假管理
	</div>
	<div layout:fragment="content" class="container">
		<a th:href="@{/roles/add}" class="btn btn-default">新增请假</a>
		<div th:text="${notice}"></div>
		<table border="1">
			<thead>
				<tr>
					<th>请假人</th>
					<th>请假时间</th>
					<th>天数</th>
					<th>理由</th>
					<th>申请时间</th>
					<th>更新时间</th>
					<th>状态</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="obj : ${page}">
					<td><a th:href="@{/leaves/{id}(id=${obj.id})}" th:text="${obj.person.name}"></a></td>
					<td><th:block th:text="${obj.beginAt}" /> ~ <th:block th:text="${obj.endAt}" /></td>
					<td th:text="${obj.days}"></td>
					<td th:text="${obj.reason}"></td>
					<td th:text="${obj.createdAt}"></td>
					<td th:text="${obj.updatedAt}"></td>
					<th></th>
					<td>
						<a th:href="@{/leaves/{id}/edit(id=${obj.id})}">Edit</a>
						<a href="javascript:void(0);" th:attr="data-href=@{/leaves/{id}(id=${obj.id})}" data-method="DELETE">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>