<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
    <title>请假详情</title>
    <meta charset="utf-8" />
</head>
<body>
	<h1 layout:fragment="header">请假详情</h1>
	<div layout:fragment="breadcrumb">
		<a href="/">首页</a>
		>
		<a href="/leaves">请假管理</a>
		>
		请假详情
	</div>
	<div layout:fragment="content" class="container">
		<div>
			<label>请假时间</label>
			<th:block th:text="${leave.beginAt}" />
			~
			<th:block th:text="${leave.endAt}" />
		</div>
		<div>
			<label>总天数</label>
			<th:block th:text="${leave.days}" />
		</div>
		<div>
			<label>请假人</label>
			<th:block th:text="${leave.person.name}" />
		</div>
		<div>
			<label>请假理由</label>
			<th:block th:text="${leave.reason}" />
		</div>
		<div>
			<label>进度</label>
			
		</div>
		<div><a href="/leaves">返回</a></div>
	</div>
	
</body>
</html>