<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
    <title>用户详情</title>
    <meta charset="utf-8" />
</head>
<body>
	<h1 layout:fragment="header">用户详情</h1>
	
	<div layout:fragment="content" class="container">
		<div>
			<label>用户名</label>
			<th:block th:text="${user.username}" />
		</div>
		<div>
			<label>身份</label>
			<th:block th:text="${user.person.name}" />
		</div>
		<div>
			<label>角色</label>
			<ul><li th:each="obj : ${user.roles}" th:text="${obj.name}"></li></ul>
		</div>
	</div>
</body>
</html>