<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
    <title>编辑角色</title>
    <meta charset="utf-8" />
</head>
<body>
	<h1 layout:fragment="header">编辑角色</h1>
	
	<div layout:fragment="content" class="container">
		<form th:method="PUT" th:action="@{/roles/{id}(id=${role.id})}" class="form-validation">
			<div class="form-group">
                <input type="text" name="name" th:value="${role.name}" class="form-control" placeholder="Name" autofocus="autofocus" />
            </div>
            
			<div class="form-group">
				<select th:field="*{role.code}" name="code">
   					<option th:each="obj : ${roleCodes}" th:value="${{obj}}" th:text="#{'role.code.' + ${obj}}" />
                </select>
			</div>
			
			<div class="form-group">
				<select multiple="multiple" th:field="*{role.authorities}" name="authorities">
   					<option th:each="obj : ${authorities}" th:value="${{obj}}" th:text="${obj.name}" />
                </select>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</form>
	</div>
</body>
<script type="text/javascript" layout:fragment="javascript_block">
$(function(){
	// validate signup form on keyup and submit
	$(".form-validation").validate({
		success: "valid",
        submitHandler: function(form) {
        	return formSubmitHandler(form);
        },
		rules: {
			name: {
				required: true,
				minlength: 2
			},
			code: {
				required: true
			}
		},
		messages: {
			username: {
				required: "Please enter a name",
				minlength: "Your name must consist of at least 2 characters"
			},
			employee: {
				required: "Please select a code"
			}
		}
	});
});

function formSubmitHandler(form) {
    var btnSubmitText = $('#btn-submit').html();

    $(".form-validation").ajaxSubmit({
      beforeSubmit: function() {
        // disabled the button
        $('#btn-submit').prop('disabled', true);
        $('#btn-submit').append("中...");
      },
      success: function (response) {
    	  location.href = "/roles/" + response;
      },
      error: function(xhr, status, error) {
    	  //status: error
    	  //error: Not Acceptable
    	  //xhr.status: 401
    	  
          // re-enable the button
          $('#btn-submit').prop('disabled', false);
          $('#btn-submit').html(btnSubmitText);
      }
    });
    return false;
}
</script>
</html>