<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
    <title>发送通知</title>
    <meta charset="utf-8" />
</head>
<body>
	<h1 layout:fragment="header">发送通知</h1>
	
	<div layout:fragment="content" class="container">
		<form method="POST" th:action="@{/notifications/}" class="form-validation">
			<div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title" autofocus="autofocus" />
            </div>
	        <div class="form-group">
                <textarea rows="2" cols="10" name="content" class="form-control" placeholder="正文内容"></textarea>
            </div>
			<button id="btn-submit" class="btn btn-lg btn-primary btn-block" type="button" onclick="send()">Submit</button>
		</form>
	</div>
</body>
<th:block layout:fragment="javascript_block">
<script type="text/javascript" src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">
//<![CDATA[
$(function(){
	// stomp socket
	connect();
	
	// validate signup form on keyup and submit
	$(".form-validation").validate({
		success: "valid",
        submitHandler: function(form) {
        	return formSubmitHandler(form);
        },
		rules: {
			title: {
				required: true,
				minlength: 2
			},
			content: {
				required: true
			}
		},
		messages: {
			title: {
				required: "Please enter a title",
				minlength: "Your name must consist of at least 2 characters"
			},
			content: {
				required: "输入正文内容"
			}
		}
	});
});

function connect() {
	var socket = new SockJS('/my-websocket');
	stompClient = Stomp.over(socket);
	stompClient.connect({}, function (frame) {
		console.log('Connected: ' + frame);
        
        // This topic is use to get back the response to the /hello message ...
        stompClient.subscribe('/topic/greetings', function (message) {
            //log("Got a message: " + JSON.parse(greeting.body).content);
        	popupNotification(message);
        });
        
    });
}

// Send function
function send()
{
	if(stompClient != null)
	{
		console.log("Sending a message on topic /app/hello ...");
		// stompClient.send("/app/hello", {}, JSON.stringify({'name': 'Bruno'}));
		
		var content = $('[name="content"]').val();
		stompClient.send("/app/hello", {}, content);
	}
}

function formSubmitHandler(form) {
    var btnSubmitText = $('#btn-submit').html();

    $(".form-validation").ajaxSubmit({
      beforeSubmit: function() {
        // disabled the button
        $('#btn-submit').prop('disabled', true);
        $('#btn-submit').append("中...");
      },
      success: function (response) {
    	  location.href = "/roles/" + response;
      },
      error: function(xhr, status, error) {
    	  //status: error
    	  //error: Not Acceptable
    	  //xhr.status: 401
    	  
          // re-enable the button
          $('#btn-submit').prop('disabled', false);
          $('#btn-submit').html(btnSubmitText);
      }
    });
    return false;
}

//======================= 弹出窗口
$(function() {
  // 首先，让我们检查我们是否有权限发出通知
  // 如果没有，我们就请求获得权限
  if (window.Notification !== null && Notification.permission !== "granted" ) {
    Notification.requestPermission(function (status) {
      if (Notification.permission !== status) {
        Notification.permission = status;
      }
    });
  }
});

function popupNotification(message) {
    // 如果用户同意就创建一个通知
    if (window.Notification !== null && Notification.permission === "granted" ) {
      var n = new Notification(message);
    }

    // 如果用户没有选择是否显示通知
    // 注：因为在 Chrome 中我们无法确定 permission 属性是否有值，因此
    // 检查该属性的值是否是 "default" 是不安全的。
    else if (window.Notification !== null && Notification.permission !== "denied") {
      Notification.requestPermission(function (status) {
        if (Notification.permission !== status) {
          Notification.permission = status;
        }

        // 如果用户同意了
        if (status === "granted") {
          var n = new Notification(message);
        }

        // 否则，我们可以让步的使用常规模态的 alert
        else {
          alert(message);
        }
      });
    }
    // 如果用户拒绝接受通知
    else {
      // 我们可以让步的使用常规模态的 alert
      alert(message);
   }
}
//]]>
</script>
</th:block>
</html>