<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Management</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>
<h1 layout:fragment="header">Layout</h1>
<div layout:fragment="content">Fake content</div>

<script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="" ></script>
<script type="text/javascript">
$(function(){
	// Restful Delete
	$('a[data-method]').click(function(event){
		event.preventDefault();
		
		var url = $(this).attr('data-href');
		var http_verb = $(this).attr('data-method');
		var csrf = '<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>';
		$('<form action="'+ url +'" method="POST"><input type="hidden" name="_method" value="'+ http_verb +'" />'+ csrf +'</form>').submit();
	});
});
</script>
</body>
</html>